/*** >> MAIN CSS FILE << ***/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

/*
** >> Global Styles 
*/
*{
	box-sizing: border-box;
}
html,
body{
	position: relative;
	font-family: 'Open Sans' , Arial;
}
.fl{ float: left; }
.fr{ float: right; }
.bl{ font-weight: bold; }
.after:after{ content: ''; clear: both; display: block; }

.cta{}
.form-btn{}

p{
	line-height: normal;
}
h1{
	font-family: 'Montserrat', 'Open Sans', Arial;
}
h2{
	font-family: 'Montserrat', 'Open Sans', Arial;
}
h3{}

#checkout-body .wrapper .terms,
#thankyou-body .wrapper .terms{
	font-size: 11px;
	line-height: normal;
}
footer{
	bottom: 0px;
	width: 100%;
	padding: 60px 0;
}
footer p{
	font-size: 12px;
	text-align: center;
}
footer p a{
	color: #000;
	text-decoration: none;
}
/*
** >> Form Styles
*/
form{
	border: 3px solid #afb4c6;
}
form .form-top{
	font-family: 'Montserrat', 'Open Sans', Arial;
	background: #595f70;
	color: white;
	text-align: center; 
	padding: 25px 0;
	line-height: normal;
}
form .form-top h2{ 
	font-size: 30px;
}
form .form-top h3{
	font-size: 19px;
}
form .form-container{
	background: #e7e8ef;	
	padding: 0 20px;
	text-align: right;
}
form .hidden-fields{
	display: none;
}
form .form-container .billing-info{
	font-size: 12px; 
	text-align: center;
	padding-top: 25px;
}
form .form-container .credit-cards{
	padding: 35px 0;
}
form .form-container .credit-cards p{
	font-size: 12px;
	text-align: center;
}
form .form-container .credit-cards p img{	
	vertical-align: middle;
	padding-left: 10px;
}
form .form-container .input-holder{}
form .form-container .input-holder label{
	font-size: 12px;
	display: inline-block;
}
form .form-container .input-holder input[type="text"]{
	height: 32px;
	border-radius: 5px;
	display: inline-block;
	width: 70%;
	border: 1px solid #ccc;
	padding: 0 10px;

}
form .form-container .input-holder input[type="text"].s-input{
	width: 34.2%;
}
form .form-container .input-holder a{
	font-size: 12px;
	color: cornflowerblue;
	width: 34%;
    display: inline-block;
    text-align: center;
}
form .form-container .input-holder select{}
form .form-container .button{
	padding: 15px 0;
	font-size: 10px;
}
form .form-container .button p{
	text-align: center;
}
form .form-container .button p img{
	vertical-align: middle;
	padding-right: 5px;
}
form .form-container .input-holder input[type="submit"]{
	background: #00efc5;
	font-size: 19px;
	font-family: 'Montserrat', 'Open Sans', Arial;
	font-weight: 700;
	color: #000;
	border-radius: 5px;
	display: block;
	width: 100%;
	border: none;
	padding: 20px 0;
	box-shadow: 4px 4px 0 0 #7b7b7b;
	cursor: pointer;
	margin: 20px 0;
}
form .form-container .input-holder .card-logos {
	display: block;
}
/* Banner */
.banner{
	position: relative;
	padding: 30px 0;
	border-bottom: 1px solid #d1d1d1;
	margin-bottom: 25px;
}
.banner .logo{
	margin-left: 35px;
	vertical-align: middle;
	display: inline-block;
}
.banner .demographic{
	float: right;
	margin-right: 45px;
}
.banner .demographic p,
.banner .demographic img.flag{
	display: inline-block;
}
.banner .demographic p{
	width: 230px;
	font-weight: bold;
	font-size: 14px;
}
.banner .demographic img.flag{
	margin-right: 10px;
}
/* Steps */
.steps{
	width: 295px;
    position: relative;
    left: 90px;
    display: inline-block;
    vertical-align: middle;
}
.steps .step{
	position: absolute;
	top: -11px;
	z-index: 10;
	margin: 0px;
}
.steps .step .step-inner{
	width: 25px; height: 25px;
	padding: 3px;
	background: #c9c5c0;
	border-radius: 50%;
	text-align: center;
	color: #fff;
	font-weight: bold;
	text-shadow: .5px 1px 2px #000;
	font-size: 13px;
}
.steps .step .step-inner p.current{
	background: #ed145b;
	border-radius: 50%;
	width: 100%;
    height: 100%;
    box-shadow: 0 1px 1px 0px #000;
}
.steps .step-1{
	left: -24px;
}
.steps .step-2{
	left: 135px;
}
.steps .step-3{
	right: -24px;
}
.steps .step-1 .step-inner{
	box-shadow: 3px 0px 5px -3px #000 inset;
}
.steps .step-3 .step-inner{
	box-shadow: -3px 0px 5px -3px #000 inset;	
}
.steps .bar{
	width: 100%;
	height: 5px;
	background: #c9c5c0;
	box-shadow: 0px 2px 6px -4px #000 inset;
	-webkit-box-shadow: 0px 2px 6px -4px #000 inset;
	position: relative;
}
.steps .bar .slider{
	position: absolute;		
}
/*
** >> Landing Page
*/
#index-body{
	background: url(../img/bg.jpg) top center no-repeat;
}
#index-body p{
	font-size: 14px;
	line-height: 21px;
} 
#index-body h2,
#index-body h3{
	font-family: 'Montserrat', Arial;
}
#index-body h2.section-header{
	background: #000;
	color: white;
	font-size: 22px;
	display: inline-block;
    padding-right: 20px;
}
#index-body h2.section-header span{
	background: #ed145b;
	display: inline-table;
	padding: 20px 10px 20px 20px;
	margin-right: 25px;
	position: relative;
	font-weight: bold;
}
#index-body h2.section-header span:after{
	content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: 0px;
    right: -25px;
    border-top: 62px solid #ed145b;
    border-right: 25px solid transparent;
}
#index-body .cta{
	background: #595f70;
	width: 100%;
	padding: 20px 50px; 
	font-family: 'Montserrat', Arial;
}
#index-body .cta .content{
	float: left;
}
#index-body .cta .content p{
	text-align: center;
	color: #fff;
}
#index-body .cta .content p:first-child{
	font-size: 21px;
	font-weight: bold;
	letter-spacing: 4px;
	line-height: 38px;
}
#index-body .cta .content p:last-child{
	font-size: 16px;
	letter-spacing: 2.3px;
}
#index-body .cta a{
	background: #00efc5;
	font-weight: bold;
	font-size: 22px;
	padding: 20px 30px;
	border-radius: 5px;
	float: right; 
	color: #000;
	text-decoration: none;
}
#index-body .wrapper{
	width: 1000px;
	margin: 0 auto;
	position: relative;
}
#index-body .top{
	height: 800px;
}
#index-body .wrapper form{
	width: 313px;
	float: right;
}
#index-body .wrapper #section-1,
#index-body .wrapper #section-2,
#index-body .wrapper #section-3{
	position: relative;
}
#index-body .wrapper #section-1{
	background: white;
	margin-top: 30px;
}
#index-body .wrapper #section-1 .science{
	padding: 40px 50px 50px 50px;
}
#index-body .wrapper #section-1 .science .content{
	width: 450px;
	margin-top: 25px;
}
#index-body .wrapper #section-1 .science .content p{
	margin-bottom: 65px;
}
#index-body .wrapper #section-1 .points-container{
	background: url(../img/points-bg.jpg) top center no-repeat; 
	width: 100%;
	height: 558px;
	padding-top: 45px;
}
#index-body .wrapper #section-1 .points-container .points-inner{
	width: 390px;
	float: right;	
}
#index-body .wrapper #section-1 .points-container .points-inner .spotlight{
	position: absolute;
}
#index-body .wrapper #section-1 .points-container .points-inner h2{
	font-size: 20px;
	color: #fff;
	padding: 15px;
	background: #595f70;
	line-height: normal;
	font-weight: bold;
	margin-bottom: 10px;
}
#index-body .wrapper #section-1 .points-container .points-inner h2 span{
	font-weight: normal;
}
#index-body .wrapper #section-1 .points-container .points-inner .points .point{
	width: 100%;
	background: #fff;
	padding: 10px 15px 8px 15px;
	margin-bottom: 12px;
	border-left-width: 4px;
	border-left-style: solid;
	color: #333333;
}
#index-body .wrapper #section-1 .points-container .points-inner .points .point h3{
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 5px;
}
#index-body .wrapper #section-1 .points-container .points-inner .points .point:first-child{
	border-left-color: #ed145b;
}
#index-body .wrapper #section-1 .points-container .points-inner .points .point:nth-child(2){
	border-left-color: #662d91;
}
#index-body .wrapper #section-1 .points-container .points-inner .points .point:nth-child(3){
	border-left-color: #449ecb;	
}
#index-body .wrapper #section-1 .points-container .points-inner .points .point:last-child{
	border-left-color: #00efc5;	
}

#index-body .wrapper #section-2{
	background: #fff;
	margin-top: 40px;
}
#index-body .wrapper #section-2 .exclusive{
	padding: 40px 50px 30px 50px;
}
#index-body .wrapper #section-2 .exclusive .content{
	width: 400px;
}
#index-body .wrapper #section-2 .exclusive .content p{
	margin-bottom: 20px;
}
#index-body .wrapper #section-2 .exclusive .content ul{
	margin-bottom: 20px;
}
#index-body .wrapper #section-2 .exclusive .content ul li{
	font-family: 'Montserrat', Arial;
	font-size: 17px;
	margin-bottom: 10px;
}
#index-body .wrapper #section-2 .exclusive .content ul li span{
	background: #4cdbd9;
	width: 9px;
	height: 9px;
	display: inline-block;
	margin-right: 20px;
	position: relative;
	top: -2px;
}
#index-body .wrapper #section-2 .exclusive .trial-image{
	margin-right: -40px;
	margin-top: -110px;
}
#index-body .wrapper #section-2 .spotlight .spotlight-content{
	width: 494px;	
}
#index-body .wrapper #section-2 .spotlight .spotlight-content .content{
	padding: 25px 45px;
}
#index-body .wrapper #section-2 .spotlight .spotlight-content .content h3{
	margin-bottom: 20px;
	font-size: 20px;
}
#index-body .wrapper #section-2 .spotlight .spotlight-content .content p{
	margin-bottom: 20px;
}
#index-body .wrapper #section-2 .spotlight .spotlight-content .content img.quote{
	margin: 0 auto 20px auto;
	display: block;
}
#index-body .wrapper .words {
	margin-top: 50px;
}
#index-body .wrapper .words img.word{
	display: inline-block;
	vertical-align: top;
}
#index-body .wrapper .words img.word:nth-child(2){
	padding: 0 5px 0 13px;
}
/*
** >> Checkout Page & After Downsell Page
*/
#checkout-body{
	background: url(../img/cp-bg.jpg) top center no-repeat;
}
#checkout-body .wrapper{
	width: 1000px;
	margin: 0 auto;
	background: #fff;
	border-left: 1px solid #dedede;
	border-right: 1px solid #dedede;
}

#checkout-body .wrapper .left{
	width: 650px;
	float: left;
}
#checkout-body .wrapper form{
	float: right;
	width: 320px;
}
#checkout-body .wrapper  form .form-container .input-holder{
	padding-bottom: 15px;
}
#checkout-body .wrapper .info,
#checkout-body .wrapper .prod-info{
	padding: 0px 0 20px 35px;
}
#checkout-body .wrapper .info{
	border-bottom: 1px solid #dedede;
}
#checkout-body .wrapper .info .reminder{
	background: #f7efee;
	border: 2px solid #ed145b;
	width: 100%;
	padding: 10px 0;
	font-size: 18px;
	color: #ed145b;
	margin-bottom: 15px;
}
#checkout-body .wrapper .info .reminder p{
	text-align: center;
}
#checkout-body .wrapper .info .info-content p{
	padding-bottom: 10px;
	color: #5a5a5a;
	font-size: 14px;
}
#checkout-body .wrapper .info .info-content p:first-child{
	font-size: 17px;
}
#checkout-body .wrapper .prod-info{
	padding-top: 20px;
}
#checkout-body .wrapper .prod-info .prod-info-inner .prod-desc,
#checkout-body .wrapper .prod-info .prod-info-inner img{
	display: inline-block;
}
#checkout-body .wrapper .prod-info .prod-info-inner .prod-desc{
	width: 325px;
	padding-left: 40px;
	color: #5a5a5a;
}
#checkout-body .wrapper .prod-info .prod-info-inner .prod-desc .prices div{
	border-bottom: 1px solid #ededed;
	padding: 15px 0;
}
#checkout-body .wrapper .prod-info .prod-info-inner .prod-desc .prices div:last-child{
	border: none;
}
#checkout-body .wrapper .prod-info .prod-info-inner .prod-desc .prices p{
	display: inline-block;
}
#checkout-body .wrapper .prod-info .prod-info-inner .prod-desc .prices p:last-child{
	float: right;
}
#checkout-body .wrapper .prod-info .arrow{
	position: relative;
	left: -35px;
}
#checkout-body .wrapper .terms{
	padding-left: 20px;
}
/*
** >> Thank You Page
*/
#thankyou-body{
	background: url(../img/ty-bg.jpg) top center no-repeat;
}
#thankyou-body .wrapper{
	width: 700px;
	margin: 0 auto;
	background: #fff;
	border-left: 1px solid #dedede;
	border-right: 1px solid #dedede;
}
#thankyou-body .wrapper .header .header-inner{
	padding: 35px;
}
#thankyou-body .wrapper .thankyou-inner{
	padding: 0 35px;
}
#thankyou-body .wrapper .thankyou-info{
	width: 350px;
	display: inline-block;
	padding-left: 40px;
}
#thankyou-body .wrapper .thankyou-info .order-id{
	padding: 20px 0;
}
#thankyou-body .wrapper .thankyou-info .thankyou-prices div{
	border-bottom: 1px solid #ededed;
	padding: 15px 0;
}
#thankyou-body .wrapper .thankyou-info .thankyou-prices div:last-child{
	border: none; 
}
#thankyou-body .wrapper .thankyou-info .thankyou-prices div p{
	display: inline-block;
}
#thankyou-body .wrapper .thankyou-info .thankyou-prices div p:last-child{
	float: right;
	text-align: right;
}
#thankyou-body .wrapper .terms{
	padding: 0 30px;
	font-size: 
}
/*
** >> Upsell Page
*/
#upsell-body{}
#upsell-body .wrapper{}